/**
 * ROFI Color theme
 * User: Qball
 * Copyright: Dave Davenport
 */
* {
    background-color:      #2E3440;
    border-color:          #8FBCBB;
    text-color:            #C0CAF5;
    highlight: none;
    font:            "Iosevka Nerd Font Bold 10";
}

#window {
    anchor:     north;
    location:   north;
    width:      100%;
    padding:    4px;
    children:   [ horibox ];
}

#horibox {
    orientation: horizontal;
    children:   [ prompt, entry, listview ];
}

#listview {
    layout:     horizontal;
    spacing:    5px;
    lines:      100;
}

#entry {
    expand:     false;
    width:      10em;
}

#element {
    padding: 0px 2px;
}

#element selected {
    background-color: #FF9E64;
    text-color:       #545C7E;
}
