* {
    font-family: 'Iosevka Nerd Font';
    font-size: 15pt;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #DADAE8;
}

#workspaces {
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #DADAE8;
}

#workspaces button.focused {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: #332e41;
    border-color: #332e41;
    color: #A4B9EF;
}

#clock, #network, #battery, #pulseaudio, #workspaces, #language, #tray, #mode {
    padding: 2px 10px;
    background: #332E41;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}
