* {
	font-family: Iosevka Nerd Font;
    font-size: 19;
}

window#waybar {
    background-color: transparent;
}

#window {
    padding-left: 8px;
    padding-right: 8px;
	background-color: #313244;
}

#mode {
    background-color: #313244;
}

#workspaces {
	background-color: #313244;
}

#workspaces button:hover {
    background: #cba6f7;
    color: #4c4f69;
}

#workspaces button.focused {
    background-color: #cba6f7;
    color: #4c4f69;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

.modules-right {
	background-color: #313244;
	border-radius: 2rem;
}

#clock, #battery {
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#clock {
    background-color: #85c1dc;
    color: #45475a;
}

#battery {
    background-color: #a6d189;
    color: #45475a;
}
