[Unit]
Description=Kernel Debug File System
Documentation=https://docs.kernel.org/filesystems/debugfs.html
Documentation=https://www.freedesktop.org/wiki/Software/systemd/APIFileSystems
DefaultDependencies=no
ConditionPathExists=/sys/kernel/debug
ConditionCapability=CAP_SYS_RAWIO
Before=sysinit.target

[Mount]
What=debugfs
Where=/sys/kernel/debug
Type=debugfs
Options=mode=0750,gid=1001,nosuid,nodev,noexec
