layout {
    default_tab_template {
        children
        pane size=1 borderless=false split_direction="vertical" {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="dev"
    tab name="main term"
    tab name="notes" cwd="/home/agent_denton/Documents/notes"
}
